<div class="report-container__header">

  <div class="report-container__header--left">
    <div class="bg-author"></div>
    <div class="text-author">
      <p class="name"><%= report.guard.fullname %></p>
      <p><%= report.tower_guard.short_excerpt %></p>
    </div>
  </div>

  <div class="report-container__header--right">
    <div>
      <p><%= l report.created_at.to_date %></p>
      <p><%= report.read_time %> mn à lire</p>
    </div>
  </div>

</div>
