<div class="report-container__header">

  <div class="report-container__header--left">
    <div class="bg-author"></div>
    <div class="text-author">
      <p class="name">Martin Charpentier</p>
      <p>Co-fondateur chez Source et intervenant à HETIC | Paris Innovation</p>
    </div>
  </div>

  <div class="report-container__header--right">
    <div>
      <p>25 Mai 2017</p>
      <p>6 mn à lire</p>
    </div>
  </div>

</div>
