<%- content_for :header_nav_bar do -%>
  <%= render partial: 'shared/header_nav_bar', locals: { current: :towers } %>
<%- end -%>

<%- content_for :header_sub_nav_bar do -%>
  <%= render partial: 'shared/header_sub_nav_bar', locals: { current_sub: :towers_theme } %>
<%- end -%>

<div class="tower-container">

  <div class="tower-container__top">
    <a href="<%= theme_towers_path(all: true) %>" class="main-link">Voir toutes les offres</a>
  </div>

</div>
