<footer>
  <div class="footer-container">
    <p>Toasted</p>

    <ul class="footer-menu">
      <li><a class="footer-menu-link" href="#">Website</a></li>
      <li><a class="footer-menu-link" href="#">Marketplace</a></li>
      <li><a class="footer-menu-link" href="#">Mon dashboard</a></li>
      <li><a class="footer-menu-link" href="#">Terms of service</a></li>
      <li><a class="footer-menu-link" href="#">Devenir un expert</a></li>
      <li><a class="footer-menu-link" href="#">Réglages</a></li>
    </ul>

    <p class="footer-credits">© Toasted 2017 - Tous droits réservés</p>
  </div>
</footer>
