<footer>
  <div class="footer-container">
    <p class="logo">Toasted.</p>

    <div class="footer-menu">
      <div class="footer-menu__row">
        <a class="footer-menu__link" href="#">Website</a>
        <a class="footer-menu__link" href="#">Terms of service</a>
      </div>
      <div class="footer-menu__row">
        <%= link_to 'Marketplace', towers_path, data: { modal: :load, remote: true }, class: 'footer-menu__link' %>
        <%= link_to 'Devenir un expert', apply_tower_guards_path, data: { modal: :load, remote: true }, class: 'footer-menu__link' %>
      </div>
      <div class="footer-menu__row">
        <a class="footer-menu__link" href="#">Mon compte</a>
        <%= link_to 'Mon tableau de bord', dashboard_path, data: { modal: :load, remote: true }, class: 'footer-menu__link' %>
      </div>
    </div>

    <p class="footer-credits">© Toasted 2017 - Tous droits réservés</p>
  </div>
</footer>
