<footer>
  <div class="footer-container">
    <p class="logo">Toasted.</p>

    <div class="footer-menu">
      <div class="footer-menu__row">
        <a class="footer-menu__link" href="#">Website</a>
        <a class="footer-menu__link" href="#">Terms of service</a>
      </div>
      <div class="footer-menu__row">
        <a class="footer-menu__link" href="#">Marketplace</a>
        <a class="footer-menu__link" href="#">Devenir un expert</a>
      </div>
      <div class="footer-menu__row">
        <a class="footer-menu__link" href="#">Réglages</a>
        <a class="footer-menu__link" href="#">Mon dashboard</a>
      </div>
    </div>

    <p class="footer-credits">© Toasted 2017 - Tous droits réservés</p>
  </div>
</footer>
