<header class="cd-auto-hide-header">
  <div class="header-container">
    <div class="header-mainbar">
      <% logo_path = user_signed_in? ? towers_path : root_path %>
      <%= link_to 'Toasted.', logo_path, class: 'logo' %>
      <form class="search">
        <%= image_tag 'icons/icon-search-gray.png', class: 'icon-search' %>
        <input type="text" placeholder="Rechercher une offre ou un auteur..." />
      </form>
      <%= yield :header_nav_bar %>
    </div>

    <%= yield :header_sub_nav_bar %>
  </div>
</header>
