<header>
  <div class="header-container">
    <div class="header-mainbar">
      <p>Toasted</p>
      <%= yield :header_nav_bar %>
    </div>
    <div class="header-bottombar"></div>
  </div>
</header>
