<%- content_for :header_nav_bar do -%>
  <%= render partial: 'shared/header_nav_bar', locals: { current: nil } %>
<%- end -%>

<div class="home-header">

  <div class="home-header__container">
    <div class="home-header__container--content">
      <p>La première marketplace qui permet de recevoir une veille régulière et réalisée par des experts.</p>
      <form action="#" class="main-form">
        <div class="field">
          <input type="text" placeholder="Quel sujet vous intéresse ?" />
        </div>
        <div class="actions">
          <input type="submit" value="Rechercher">
        </div>
      </form>
    </div>
  </div>

</div>

<div class="home-discover">



</div>
