<div class="comments-container">
  <p class="comments-container__count">3 commentaires d'abonnés</p>

  <div class="comments-container__list">
    <ul>
      <% 3.times do |i| %>
        <li>
          <div class="comments-container__list--header">
            <div class="profile"></div>
            <p class="name">Alexandre Ferraille</p>
            <p class="date">Il y a 2 jours</p>
          </div>
          <p class="comments-container__list--text">
            Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
          </p>
        </li>
      <% end %>
    </ul>
    <a href="#" class="more">Charger plus de commentaires</a>
  </div>
</div>
