<div class="info-bg" style="background-image:url();"></div>
<div class="info-description">
  <p>
    <%== @tower.excerpt %>
  </p>
</div>
<hr class="separator">
<div class="info-text">
  <%== @tower.description %>
</div>
