<div class="info-bg" style="background-image:url();"></div>
<div class="info-description">
  <p>
    Boostez votre business en faisant grimper votre site en haut des résultats de recherche Google ! Cette revue va vous permettre de découvir les bases et certaines techniques avancées de SEO pour être enfin à l'aise sur ce domaine !
  </p>
</div>
<hr class="separator">
<div class="info-text">
  <p>
    Le SEO est l'un des principaux leviers de l'e-marketing, et pourtant il peut-être parfois particulièrement flou à comprendre. Google à notamment déclaré utiliser près de 200 signaux différents pour classer les pages web dans son algorithme.
  </p>
  <p>
    Le but de ce guide est donc de vous aider à comprendre les leviers SEO les plus pertinents afin :
    <br />- <b>Comprendre</b> l'impact du mobile sur le référencement
    <br />- Intégrer toutes les bonnes techniques d’optimisation SEO on-site
    <br />- Découvrir quelques techniques avancées de SEO
  </p>
  <p>
    N'hésitez pas à utiliser les commentaires pour poser toutes les questions que vous pourriez avoir au sujet du SEO et à partager cette revue avec vos amis ou collègues qui pourraient en avoir besoin !
  </p>
</div>
