html, body {
  padding:0;
  margin:0;
  font-family:$raleway;
  background-color:$main-bg;
  overflow-x:hidden;
}

.grid{
  width: 1200px;
  padding: 0 15px;
  box-sizing:border-box;
  margin:0 auto;
}

.wrapper{
  @include flexbox;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  @extend .grid;
  flex: 1 0 300px;
}

.main-logo{
  display:inline-block;
  vertical-align:middle;
  font-family: $raleway;
  font-weight:$extrabold;
  font-size: 20px;
  color: $light-black;
  letter-spacing: 2px;
  text-transform:uppercase;
}

.header-behind{
  z-index:98;

  &.is-hidden{
    opacity:0;
    @include transition(opacity 1s);
    transition-delay:1s;
  }
}
