/* ------ GLOBAL ------ */
a{
  font-family: $raleway;
  text-decoration:none;
}

/* ------ TITLES ------ */

.header-menu-title{
  font-family: $raleway;
  font-weight: $extrabold;
  font-size: 14px;
  color: $darker-gray;
  letter-spacing: 1px;
}

.footer-menu__link{
  font-family: $raleway;
  font-weight:$semibold;
  font-size: 10px;
  color: $darker-gray;
  letter-spacing: 0.5px;
}

.list-title{
  font-family: $raleway;
  font-weight: $extrabold;
  font-size: 25px;
  color: $darker-gray;
  letter-spacing: 1px;
  margin-bottom:44px;
}

/* ------ LINKS ------ */

.main-link{
  border: 1px solid $purple;
  border-radius: 100px;
  font-family: $raleway;
  font-weight:$extrabold;
  font-size: 15px;
  color: $purple;
  letter-spacing: 1px;
  padding:7px 22px;

  &:hover{
    color:$white;
    background-color:$purple;
  }
}

.return-back-link{
  height:32px;
  line-height: 32px;
  width:165px;
  background-color: $white;
  border: 1px solid $light-gray;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.05);
  border-radius: 4px;
  text-align:center;

  img{
    display:inline-block;
    vertical-align:middle;
    height:14px;
    margin-right:6px;
  }

  span{
    display:inline-block;
    vertical-align:middle;
    font-family: $raleway;
    font-weight:$medium;
    font-size: 10px;
    color: $darker-gray;
    line-height: 27px;
  }
}
