.list-filters{
  margin-bottom:35px;

  select, input{
    position:relative;
    background-color: $white;
    border: 1px solid $light-gray;
    font-family: $raleway;
    font-weight:$medium;
    height:32px;
    line-height:32px;
    font-size: 15px;
    color: $light-black;
    letter-spacing: 1px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -webkit-border-radius: 0 !important;
    border-radius:4px !important;
    box-sizing:border-box;
    padding:0 10px;
    margin-left:16px;
    background-position: right 12px center;
    padding-right:34px !important;

    &:first-child{
      margin-left:0;
    }
  }

  input::-webkit-input-placeholder {
    color:$light-black;
  }
  input::-moz-placeholder {
    color:$light-black;
  }
  input:-ms-input-placeholder {
    color:$light-black;
  }
  input:-moz-placeholder {
    color:$light-black;
  }

  .ransack-number{
    position:relative;
    display:inline-block;
    vertical-align:top;
    margin-left:16px;

    input{
      width:170px;
    }

    &:after{
      content: '€';
      position:absolute;
      @include center-content('y');
      right:14px;
      color:$dark-gray;
    }
  }


  @include e('left'){
    display:inline-block;
    vertical-align:middle;
  }

  @include e('right'){
    float:right;
    display:inline-block;
    vertical-align:middle;

    p, select{
      display:inline-block;
      vertical-align:middle;
    }

    p{
      font-family: $raleway;
      font-weight:$medium;
      font-size: 15px;
      color: $dark-gray;
      letter-spacing: 1px;
    }
  }

}
