/* --------- INPUTS ---------- */
.input{
  &.field_with_errors{
    input[type="text"], input[type="email"], input[type="password"], select, textarea, select{
      border-color:$error-red-border !important;
      background-color:$error-red-bg !important;
    }

    .error{
      display: block;
      font-family: $raleway;
      font-weight:$medium;
      font-size: 12px;
      color: $error-red-text !important;
      margin-top:6px;
    }
  }
}

input::-webkit-input-placeholder {
  @include transition(color 0.2s);
}
input::-moz-placeholder {
  @include transition(color 0.2s);
}
input:-ms-input-placeholder {
  @include transition(color 0.2s);
}
input:-moz-placeholder {
  @include transition(color 0.2s);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}

// -------- CHECKBOX --------
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  display:inline-block;
  vertical-align:middle;
  height:auto;
  width:auto;
}
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  display: inline-block;
  position: relative;
  vertical-align:middle;
  padding-left: 42px;
  cursor: pointer;
  font-family: $raleway;
  font-weight:$medium;
  font-size: 15px;
  color: $dark-gray;
  line-height:24px;

  a{
    color: $dark-gray;
    text-decoration:underline;
  }
}
/* checkbox aspect */
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  top: 0; left:0;
  width: 22px; height: 22px;
  border: 1px solid $dark-gray;
}

input[type="checkbox"]:checked + label:before{
  border-color:$purple;
}

/* checked mark aspect */
input[type="checkbox"]:not(:checked) + label:after, input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  height:22px;
  width:22px;
}

input[type="checkbox"]:checked + label:after{
  background-image:image-url('icons/icon-check-purple.png');
  background-position:left center;
  background-repeat:no-repeat;
  background-size:27px 19px;
  left:2px;
  width:26px;
}

// -------- RADIO --------
.radio{
  display:block;

  input[type="radio"]{
    display:inline-block;
    vertical-align:middle;
    position: relative;
    background-color: transparent;
    border: 1px solid $dark-gray;
    border-radius: 100%;
    display: inline-block;
    margin:0;
    margin-right: 25px;
    height:22px !important;
    width:22px !important;
    -webkit-appearance: none;
  }
  input[type="radio"]:checked {
    border-color:$purple;
  }
  input[type="radio"]:checked:after {
    content: '';
    position: absolute;
    @include center-content('all');
    border-radius: 100%;
    height: 12px;
    width: 12px;
    background-color:$purple;
  }
  label{
    display:inline-block;
    vertical-align:middle;
    font-family: $raleway;
    font-weight:$medium;
    font-size: 20px;
    color: $dark-gray;
  }
}

// .radio-inline{
//   display:inline-block;
//   vertical-align:top;
//   margin-left:35px;
//   margin-bottom:16px;
//   @include tablet{
//     margin-left: 28px;
//   }
//   &:first-child{
//     margin-left:0;
//   }
//   label{
//     margin-left:0;
//   }
// }


// -------- SELECT --------
select{
  cursor:pointer;
  background-image: image-url('icons/icon-arrow-select-black.png') !important;
  background-repeat:no-repeat;
  background-position: right 20px center;
  background-size:11px 6px;
  padding-right: 42px !important;
  line-height:inherit;
}
select::-ms-expand { display: none; }

// -------- FORM --------

form{
  .hidden{
    display:none;
  }
}


/* --------- FORMS --------- */

.main-form{
  text-align:left;

  &.main-form-modal{
    width:360px;
  }

  .field{
    position:relative;
    margin-bottom:25px;

    &.semi-field{
      display:inline-block;
      vertical-align:top;
      width:237px;

      &:nth-child(2n + 1){
        margin-left:12px;
      }
    }

    input[type="text"], input[type="email"], input[type="password"], select, textarea, select{
      width:100%;
      font-family: $raleway;
      font-weight:$medium;
      font-size: 16px;
      color: $dark-gray;
      border: 1px solid $gray;
      padding:0 18px;
      box-sizing:border-box;
      outline:none;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      -webkit-border-radius: 0 !important;
      border-radius:0 !important;
      background-color:$white;

      &:focus{
        border-color:$purple;
      }
    }

    input, select{
      height:49px;
    }

    textarea{
      min-height:102px;
    }

    input[type="password"]{
      background-image:url(image_path('icons/icon-lock-gray.png'));
      background-size: 12px 16px;
      background-position: right 18px center;
      background-repeat: no-repeat;
      padding-right:44px;
    }

  }

  .actions{
    position:relative;
    text-align:center;

    input[type="submit"]{
      margin-top:14px;
      cursor:pointer;
      border:1px solid $purple;
      border-radius: 100px;
      font-family: $raleway;
      font-weight:$extrabold;
      font-size: 15px;
      color: $purple;
      background-color:$white;
      letter-spacing: 1px;
      height:46px;
      width:335px;
      outline:none;

      &:hover{
        background-color: $purple;
        color:$white;
      }
    }

    .forgot-password{
      display:block;
      font-family: $raleway;
      font-weight:$medium;
      font-size: 12px;
      color: $gray;
      text-decoration:underline;
      margin-top:10px;
    }
  }

}
