header{
  position:fixed;
  top:0;
  left:0;
  z-index:99;
  width:100%;
  background-color:$white;
  border-bottom: 1px solid #E4E4E4;
  @include box-shadow(0 1px 6px 0 rgba(0,0,0,0.11));

  @include transform(translateZ(0));
	will-change: transform;
	@include transition(transform .5s);

	&.is-hidden {
		@include transform(translateY(-100%));
	}

  .header-container{
    @extend .grid;

    .header-mainbar{
      z-index:101;
      position:relative;
      height:84px;
      width:100%;
      line-height:84px;

      .logo{
        @extend .main-logo;
      }

      .search{
        position:relative;
        display:inline-block;
        vertical-align:middle;
        margin-left:54px;

        .icon-search{
          position:absolute;
          @include center-content('y');
          left:9px;
          height:15px;
          width:14px;
        }

        input{
          font-family: $raleway;
          font-weight:$semibold;
          font-size: 15px;
          color: $dark-gray;
          letter-spacing: 1px;
          border:0;
          border-bottom: 2px solid $light-gray;
          width:392px;
          padding:9px 0;
          padding-left:34px;
          padding-right:16px;
          box-sizing:border-box;
          outline:none;

          @include transition(border-color 0.2s);

          &:focus{
            border-color:$purple;
          }
        }
      }

      @include e('menu'){
        position:relative;
        display:inline-block;
        vertical-align:middle;
        float:right;

        li{
          position:relative;
          display:inline-block;
          vertical-align:middle;
          margin-left:66px;

          &.active{
            border-bottom: 1px solid $purple;
          }

          &:first-child{ margin-left:0; }

          &.has-submenu:hover{
            .header-mainbar__submenu{
              display:block;
            }
          }

          & > p, & > a{
            @extend .header-menu-title;
            position:relative;

            &.main-link{
              color:$purple;
              padding:6px 40px;

              &:hover{
                color:$white;
              }
            }

            &.new-reports{
              &:after{
                content: '';
                position:absolute;
                top:-2px;
                right:-10px;
                height:8px;
                width:8px;
                border-radius:100%;
                background-color:$purple;
              }
            }
          }
        }
      }

      @include e('submenu'){
        display:none;
        position:absolute;
        top:56px;
        right:0;
        width:190px;
        background-color:$white;
        @include box-shadow(0 4px 6px 0 rgba(0,0,0,0.07));

        li{
          display:block;
          margin-left:0;

          a{
            display:block;
            height:100%;
            padding: 0 15px;

            &:hover{
              color:$purple;
            }
          }
        }
      }
    }
    .header-bottombar{
      position:relative;
      z-index:100;
      display:none;
      height:55px;
      width:100%;

      @include e('towers'){
        height:100%;
        width:100%;
        line-height:55px;

        li{
          position:relative;
          display:inline-block;
          vertical-align:middle;
          box-sizing:border-box;

          &:first-child{ margin-left:0; }

          &:after{
            display:none;
            content: '';
            position: absolute;
            bottom: 1px;
            left:0;
            width: 100%;
            height: 1px;
            background-color: $purple;
          }

          &:not(.all-themes):not(.current-theme):not(.more-categories).active, &:not(.all-themes):not(.current-theme):not(.more-categories):not(.more-categories):hover{
            &:after{ display:block; }
            &.tower-main-link a{ color: $purple; }
          }

          a{
            display:block;
            height:100%;
            font-family: $raleway;
            font-size: 15px;
            color: $dark-gray;
          }

          &.all-themes a{
            font-weight: $bold;
            color:$darker-gray;
          }

          &.current-theme {
            a{ font-weight: $bold; }
            &.active a{ color:$purple; }
          }
        }

        @include m('theme'){
          @include flexbox;
          justify-content:center;

          li{
            margin-left:86px;
          }
        }
        @include m('category'){
          text-align:left;
          white-space: nowrap;

          li{
            position:relative;
            margin-left:59px;

            &.more-categories{
              display:none;
              margin-left:12px;
              height:100%;
              width:40px;

              &:hover{
                .header-bottombar__submenu{ display: block; }
              }

              .icon-menu-more{
                position:absolute;
                @include center-content('all');
                height:16px;
              }

              .header-bottombar__submenu{
                display:none;
                position:absolute;
                top:55px;
                right:0;
                width:190px;
                background-color:$white;
                @include box-shadow(0 4px 6px 0 rgba(0,0,0,0.07));

                li{
                  display:block;
                  margin-left:0;

                  &.tower-main-link.active, &.tower-main-link:hover{
                    &:after{ display:none !important; }
                  }

                  a{
                    padding: 0 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.header-alternative{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:98;
  background-color:$white;
  border-bottom: 1px solid #E4E4E4;
  @include box-shadow(0 1px 6px 0 rgba(0,0,0,0.11));

  @include e('container'){
    @extend .grid;
    position:relative;
    height:84px;
    line-height:84px;

    .logo{
      @extend .main-logo;
      display:inline-block;
      vertical-align:middle;
      width:195px;
    }

    .global-hr{
      display:inline-block;
      vertical-align:middle;
      height:58px;
      width:1px;
      background-color:$light-gray;
      border:0;
    }
  }
}
