.tower-list{
  position:relative;
  margin-bottom:57px;

  @include e('title'){
    @extend .list-title;
    margin-bottom:34px;
  }

  @include e('slider'){
    position:relative;
    padding:0 15px;
    box-sizing:border-box;

    .tower-card{
      float:left;
      margin:10px 0 !important;
      margin-right:29px !important;

      &:first-child{
        margin-left:0;
      }
    }
  }

  @include e('slider-arrow'){
    z-index:10;
    position:absolute;
    bottom:180px;
    height:51px;
    width:51px;
    background-size:contain;
    cursor:pointer;

    &.arrow-prev{
      left:-6px;
      background-image:url(image_path('icons/icon-arrow-slider-prev.png'));
    }
    &.arrow-next{
      right:-6px;
      background-image:url(image_path('icons/icon-arrow-slider-next.png'));
    }
  }
}
