// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_index{
  background-color:$white;

  .container{
    width:100%;
    padding-left:0;
    padding-right:0;
  }

  .home-header{
    position:relative;
    height:510px;
    width:100%;
    border-bottom:1px solid $gray;
    background-image:image-url('bg/bg-home-header.png');
    background-size:contain;
    background-position:bottom center;
    background-repeat:no-repeat;

    .template-bg{
      position:absolute;
      bottom:0;
      right:0;
      height:409px;
    }

    @include e('container'){
      position:absolute;
      @include center-content('all');
      width:944px;

      @include m('content'){
        width:735px;

        p{
          font-family: $raleway;
          font-weight:$extrabold;
          font-size: 25px;
          color: $light-black;
          letter-spacing: 1.5px;
          line-height: 40px;
        }

        form{
          margin-top:57px;

          .field, .actions{
            display:inline-block;
            vertical-align:middle;
            margin:0;
          }
          input{
            background-color:transparent;
          }
          input[type="text"]{
            width:488px;
          }
          input[type="submit"]{
            width:194px;
            margin:0;
            margin-left:30px;

            &:hover{
              color:$white;
              background-color:$purple;
            }
          }
        }
      }

    }
  }

  .home-discover{
    position:relative;

    .discover-bg{
      position:absolute;
      top:347px;
      right:0;
      height:140px;
    }

    @include e('container'){
      @extend .grid;
    }

    @include e('categories'){
      margin-top:62px;

      ul{
        li{
          display:inline-block;
          vertical-align:top;
          text-align:center;
          margin-left: 10px;
          margin-right: -4px;

          &:first-child{
            margin-left:0;
          }

          .category-bg{
            height:316px;
            width:226px;
            background:$gray no-repeat center;
            background-size:cover;

            a{
              display:block;
              height:100%;
              width:100%;
            }
          }

          .category-title{
            display:inline-block;
            font-family: $raleway;
            font-weight:$bold;
            font-size: 15px;
            color: $darker-gray;
            letter-spacing: 2px;
            margin-top:20px;
            text-transform:uppercase;

            &:hover{
              color:$purple;
            }
          }
        }
      }
    }

    @include e('experts'){
      margin-top:107px;
    }
  }

  .home-info{
    position:relative;
    border-top:1px solid $gray;
    padding-top:103px;
    padding-bottom:123px;

    .info-bg{
      position:absolute;
      top:183px;
      left:117px;
      height:106px;
    }

    @include e('container'){
      @extend .grid;
    }

    @include e('main'){
      text-align:center;

      .title{
        font-family: $raleway;
        font-weight:$extrabold;
        font-size: 25px;
        color: $light-black;
        letter-spacing: 2px;
        line-height: 43px;
      }

      .description{
        font-family: $raleway;
        font-weight:$medium;
        font-size: 20px;
        color: $darker-gray;
        letter-spacing: 0.67px;
        line-height: 30px;
        max-width:655px;
        margin:0 auto;
        margin-top:20px;
      }
    }

    @include e('list'){
      text-align:center;
      margin-top:96px;

      li{
        display:inline-block;
        vertical-align:top;
        width:488px;

        &:first-child{
          width:422px;
          margin-right:161px;
        }

        .icon-list{
          width:36px;
          margin-bottom:77px;
        }

        .title{
          font-family: $raleway;
          font-weight:$bold;
          font-size: 20px;
          color: $darker-gray;
          letter-spacing: 1px;
          margin-bottom:26px;
          text-align:left;
        }
        .description{
          font-family: $raleway;
          font-weight:$medium;
          font-size: 20px;
          color: $darker-gray;
          letter-spacing: 0.67px;
          line-height: 30px;
          text-align:left;
        }
      }
    }
  }

  .home-registration{
    position:relative;
    background-color:$purple;
    height:365px;

    @include e('container'){
      position:absolute;
      @include center-content('all');
      width:944px;

      @include m('content'){
        width:820px;

        p{
          font-family: $raleway;
          font-weight:$bold;
          font-size: 32px;
          color: $white;
          letter-spacing: 2px;
          line-height: 44px;
        }
        a{
          @extend .main-link;
          display:inline-block;
          height:46px;
          line-height:46px;
          width:194px;
          padding:0;
          background-color:transparent;
          color:$white;
          border-color:$white;
          text-align:center;
          margin-top:42px;

          &:hover{
            background-color:$white;
            color:$purple;
          }
        }
      }

    }
  }

}
