/* ------ GLOBAL ------ */

.report-container__header{

  @include m('left'){
    display:inline-block;
    vertical-align:middle;

    .bg-author{
      display:inline-block;
      vertical-align:middle;
      height:68px;
      width:68px;
      border-radius:100%;
      background:$gray no-repeat center;
      background-size:cover;
    }

    .text-author{
      display:inline-block;
      vertical-align:middle;
      margin-left:20px;
      max-width: 400px;
      font-family: $raleway;
      font-weight:$light;
      font-size: 12px;
      color: $darker-gray;
      line-height: 15px;

      .name{
        font-size:15px;
        font-weight:$semibold;
        line-height:27px;
      }
    }

  }

  @include m('right'){
    display:inline-block;
    vertical-align:middle;
    text-align:right;
    height:68px;
    float:right;

    div{
      height:100%;
      @include flexbox;
      flex-direction: column;
      justify-content: center;
    }

    p{
      font-family: $raleway;
      font-weight:$light;
      font-size: 12px;
      color: $dark-gray;
      line-height: 15px;
      margin-top:5px;

      &:first-child{
        margin-top:0px;
      }
    }
  }

}

.report-container__content{
  margin-top:70px;
  .title{
    font-family: $raleway;
    font-weight:$extrabold;
    font-size: 35px;
    color: $darker-gray;
    letter-spacing: 1.5px;
    line-height: 42px;
    margin-bottom:36px;
  }

  .main-image{
    display:block;
    margin-bottom:40px;
  }

  .text{
    width:616px;
    margin:0 auto;

    font-family: $times-new-roman;
    font-size: 21px;
    color: $darker-gray;
    letter-spacing: 0.5px;
    line-height: 33px;

    p{ margin: 24px 0; }

    strong,b{
      font-weight:$bold;
    }

    li{
      margin: 10px 0;
      margin-left:30px;
      &:before {
         content: '-\2003';
      }
    }

    img{
      max-width:100%;
      max-height:300px;
      margin:20px auto;
    }

    h1, h2, h3, h4, h5, h6{
      font-family: $times-new-roman;
      font-weight:bold;
      font-size: 25px;
      color: $darker-gray;
      letter-spacing: 1px;
      margin-top:36px;
      margin-bottom:16px;
    }

    p{
      font-family: $times-new-roman;
      font-size: 21px;
      color: $darker-gray;
      letter-spacing: 0.5px;
      line-height: 33px;
      margin-bottom:20px;
    }

    a{
      text-decoration:underline;
      color:$purple;
    }
  }

  .rating{
    text-align:center;
    margin-top:88px;

    p{
      font-family: $raleway;
      font-weight:$medium;
      font-size: 12px;
      color: $darker-gray;
      line-height: 27px;
    }

    .rating-stars{
      margin:0 auto;
      margin-top:14px;
      margin-bottom:8px;
    }

    .rating-numbers{
      font-weight:$bold;
    }
  }

  .comments-container{
    margin-top:74px;
  }
}

/* ------ CONTROLLERS ------ */

#reports_show, #reports_comment, #reports_rate{

  .header-alternative{

    .header-alternative__container{

      .title{
        position:absolute;
        @include center-content('all');
        font-family: $raleway;
        font-weight:$bold;
        font-size: 20px;
        color: $darker-gray;
        letter-spacing: 1.5px;
        line-height: 26px;
        max-width:620px;
        text-align:center;

        h2{
          overflow:hidden;
          max-height:52px;
        }

      }

    }
  }

  .report-container{
    @extend .grid;
    position:relative;
    width:750px;
    margin-top:90px;
    margin-bottom:126px;

    @include e('back'){
      @extend .return-back-link;
      position:fixed;
      margin-top:-34px;
      margin-left:-195px;
    }
  }
}
