// Place all the styles related to the Towers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ------ GLOBAL ------ */

.tower-container{
  padding-top:64px;
  padding-bottom:36px;

  .more-offers{
    margin:0 auto;
  }

  .tower-list-full{
    @include e('filters'){

    }

    @include e('header'){

    }

    @include e('cards'){
      position:relative;
      padding:0 15px;
      box-sizing:border-box;
      @include flexbox;
      flex-wrap:wrap;
      align-content: flex-start;

      @include m('card'){
        margin:15px 0;
        margin-left:29px;

        &:nth-child(4n+1){
          margin-left:0;
        }

        &:nth-of-type(-n+4) {
          margin-top:0;
        }
      }
    }
  }
}


/* ------ CONTROLLERS ------ */

#towers_index{

  header{
    .header-bottombar{ display:block; }
  }

  .tower-container{}

}

#towers_theme{

  header{
    .header-bottombar{ display:block; }
  }

  .tower-container{
    .tower-container__top{
      text-align:center;
    }
  }

}

#towers_category{

  header{
    .header-bottombar{ display:block; }
  }

  .tower-container{
    .tower-container__top{
      text-align:center;
    }
  }

}
